* {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}
a:active {
  color: unset;
}
a:visited {
  color: unset;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: pink;
  height: 5%;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr;
  grid-template-rows: 1fr;
}
header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
header-title {
  text-align: center;
  color: aliceblue;
  text-shadow: 1px 1px 2px black;
}
header-user {
  display: flex;
  justify-content: right;
  align-items: center;
}
header-cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height: 5vh;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-tipos {
  background: gray;
  border: solid white 5px;
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}
.contenedor-tipos_box {
  margin: white solid 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px black;
  color: rgb(186, 223, 21);
}
.contenedor-tipos_box1 {
  border: white solid 5px;
  width: 100%;
  height: 100%;
  background-image: url(../media/basicosss.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contenedor-tipos_box2 {
  border: white solid 5px;
  width: 100%;
  height: 100%;
  background-image: url(../media/officcina.jpg);
  background-size: cover;
  background-position: center;
}
.contenedor-tipos_box3 {
  border: white solid 5px;
  width: 100%;
  height: 100%;
  background-image: url(../media/tendency.jpg);
  background-size: cover;
  background-position: center;
}
.contenedor-tipos_box4 {
  border: white solid 5px;
  width: 100%;
  height: 100%;
  background-image: url(../media/rental.jpeg);
  background-size: cover;
  background-position: center;
}

.contenedor-ofertas {
  background: rgb(207, 168, 191);
  color: rgb(223, 21, 149);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr, 2fr;
}
.contenedor-ofertas_title {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 5;
}
.contenedor-ofertas .tarjeta {
  padding: 5px;
  border: 2px solid black;
  border-radius: 20px;
  align-items: top;
  text-align: center;
}
.contenedor-ofertas .tarjeta__img {
  width: 100%;
  height: 50%;
  border-radius: 20px;
}
.contenedor-ofertas .tarjeta .boton {
  border: black 1px solid;
  border-radius: 20px;
  background-color: black;
  color: white;
  padding: 2px 2px;
}
.contenedor-ofertas .tarjeta .boton:hover {
  border: pink 2px solid;
  background-color: rgb(223, 21, 149);
  color: pink;
}
.contenedor-ofertas .tarjeta:hover {
  border: rgb(223, 21, 149) 2px solid;
  background-color: white;
  color: rgb(223, 21, 149);
}

.contenedor-ocasion {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  text-align: center;
}
.contenedor-ocasion_tarjeta {
  width: 80%;
  height: 100vh;
  color: white;
  text-shadow: 1px 1px 2px rgb(223, 21, 149);
  margin: 20px auto;
  border: 2px solid rgb(223, 21, 149);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-ocasion_tarjeta-1 {
  background-image: url(../media/nights\ out.jpg);
  background-size: cover;
  background-position: center;
}
.contenedor-ocasion_tarjeta-2 {
  background-image: url(../media/weekend.jpg);
  background-size: cover;
  background-position: center;
}
.contenedor-ocasion_tarjeta-3 {
  background-image: url(../media/dating.jpg);
  background-size: cover;
  background-position: center;
}

/*OFICINA*/
.oficina-galery {
  width: 100%;
  padding: auto;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
.oficina-galery_img {
  width: 100%;
}
.oficina-galery_item {
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
}
.oficina-galery_item:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

/*Temporada*/
.product-container {
  width: 80%;
  padding: 10%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.product-container .tarjeta {
  padding: 5px;
  border: 2px solid black;
  border-radius: 20px;
  align-items: top;
  text-align: center;
}
.product-container .tarjeta__img {
  width: 100%;
  height: 50%;
  border-radius: 20px;
}

/*RENTAS*/
.renta-container {
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.renta-container__img {
  border: solid black 2px;
  height: 100%;
  background-image: url(../media/rental.jpeg);
  background-size: cover;
  background-position: center;
}
.renta-container__description {
  border: solid black 2px;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
