* {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}

a {
  color: unset;
}

a:active {
  color: unset;
}

a:visited {
  color: unset;
}

p:active {
  color: unset;
}

p:visited {
  color: unset;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2 {
  text-align: center;
}

h3 {
  text-align: center;
  color: lightpink;
  text-shadow: 1px 1px 2px rgb(223, 21, 149);
}

a > h1:hover, a > h2:hover {
  color: rgb(223, 21, 149);
}

a > h3:hover {
  color: rgb(223, 21, 149);
}

header {
  width: 100%;
  margin-bottom: 0px;
  background-color: rgba(255, 192, 203, 0.566);
  height: 5%;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr;
  grid-template-rows: 1fr;
}
header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
header-title {
  text-align: center;
  color: aliceblue;
  text-shadow: 1px 1px 2px black;
}
header-user {
  display: flex;
  justify-content: right;
  align-items: center;
}
header-cart {
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  text-align: center;
  color: aliceblue;
  text-shadow: 1px 1px 2px black;
}

/*Icono menu hamburguesa*/
.header-menu, .header-cart, .header-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Icono usuario */
/*Icono carrito*/
footer {
  width: 100%;
  height: auto;
  background-color: pink;
  display: flexbox;
  align-items: center;
  justify-content: center;
  text-align: center;
}
footer > p {
  margin: 0px;
  padding: 3px;
}
footer > div {
  margin: 0px;
}
footer > div > p {
  margin: 0px;
}
footer > div > h5 {
  margin: 5px;
}

.btn-ws {
  width: 32px;
}
.btn-ws:hover {
  transform: scale(1.05);
}

.btn-in {
  width: 32px;
}
.btn-in:hover {
  transform: scale(1.05);
}

.btn-fb {
  width: 32px;
}
.btn-fb:hover {
  transform: scale(1.05);
}

.btn-cn {
  width: 32px;
}
.btn-cn:hover {
  transform: scale(1.05);
}

footer > a:active {
  color: unset;
}

footer > a:visited {
  color: unset;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  background: none;
  border: none;
  text-decoration: none;
  color: #777;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
}

.link:hover {
  color: black;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: -15px;
  top: calc(170% + 0.25rem);
  background-color: rgba(255, 192, 203, 0.852);
  margin: 2px;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}
.dropdown-menu > ul {
  margin: 0;
  padding-left: 1px;
}
.dropdown-menu > ul > li {
  padding: 5px;
  font-size: medium;
}

.dropdown-menu.active {
  opacity: 1;
}

.dropdown > .link:focus + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
}

li:hover {
  color: rgb(223, 21, 149);
  transform: scale(1.05);
}

.contenedor-tipos {
  margin: auto;
  background: gray;
  border: solid white 5px;
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}
.contenedor-tipos_box {
  margin: white solid 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px black;
  color: rgb(186, 223, 21);
}
.contenedor-tipos_box:hover {
  filter: opacity(0.9);
  transform: scale(1.01);
}
.contenedor-tipos_box1 {
  border: white solid 5px;
  width: 100%;
  height: 100%;
  background-image: url(../media/tipos-basicos.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contenedor-tipos_box2 {
  border: white solid 5px;
  width: 100%;
  height: 100%;
  background-image: url(../media/tipos-oficina.png);
  background-size: cover;
  background-position: center;
}
.contenedor-tipos_box3 {
  border: white solid 5px;
  width: 100%;
  height: 100%;
  background-image: url(../media/tipos-temporada.png);
  background-size: cover;
  background-position: center;
}
.contenedor-tipos_box4 {
  border: white solid 5px;
  width: 100%;
  height: 100%;
  background-image: url(../media/tipos-renta.png);
  background-size: cover;
  background-position: center;
}

.contenedor-ofertas {
  width: 100%;
  height: auto;
  margin: auto;
  background: white;
  color: rgb(223, 21, 149);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr, 2fr;
}
.contenedor-ofertas_title {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 5;
  margin-top: 10px;
  margin-bottom: 5px;
}
.contenedor-ofertas .tarjeta {
  width: 23vw;
  margin: auto;
  padding: 1px;
  padding-bottom: 10px;
  border: 2px solid black;
  border-radius: 20px;
  font-size: 1rem;
  text-align: center;
}
.contenedor-ofertas .tarjeta__img {
  width: 22vw;
  border-radius: 20px;
}
.contenedor-ofertas .tarjeta__titulo {
  padding-top: 2px;
  padding-bottom: 5px;
  margin: 0px;
}
.contenedor-ofertas .tarjeta > p {
  margin-top: 0px;
  margin-bottom: 10px;
}
.contenedor-ofertas .tarjeta .boton {
  border: black 1px solid;
  border-radius: 20px;
  background-color: black;
  color: white;
  padding: 2px;
}
.contenedor-ofertas .tarjeta .boton:hover {
  border: pink 2px solid;
  background-color: rgb(223, 21, 149);
  color: pink;
}
.contenedor-ofertas .tarjeta:hover {
  border: rgb(223, 21, 149) 2px solid;
  background-color: rgba(255, 192, 203, 0.707);
  color: rgb(223, 21, 149);
  filter: opacity(0.9);
  transform: scale(1.04);
}

.contenedor-ocasion {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr, 2fr;
  text-align: center;
}
.contenedor-ocasion_title {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
  margin-top: 10px;
  margin-bottom: 10px;
}
.contenedor-ocasion_title > h2 {
  margin: 0;
}
.contenedor-ocasion_title > h3 {
  margin: 0;
}
.contenedor-ocasion_tarjeta {
  width: 30vw;
  height: 50vh;
  color: white;
  text-shadow: 1px 1px 2px rgb(223, 21, 149);
  margin: auto;
  border: 2px solid rgb(223, 21, 149);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-ocasion_tarjeta-1 {
  background-image: url(../media/ocasion-1.png);
  background-size: cover;
  background-position: center;
}
.contenedor-ocasion_tarjeta-2 {
  background-image: url(../media/ocasion-2.png);
  background-size: cover;
  background-position: center;
}
.contenedor-ocasion_tarjeta-3 {
  background-image: url(../media/ocasion-3.png);
  background-size: cover;
  background-position: center;
}
.contenedor-ocasion_tarjeta:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

.main-conocenos {
  height: 100vh;
}

.contenedor-basicos {
  height: 85vh;
  padding: auto;
  margin: auto;
  text-align: center;
}
.contenedor-basicos-tarjetas {
  margin-top: 10px;
  background-color: white;
  border: #ddd;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.tarjeta, .tarjeta--agotado {
  background-color: white;
  margin: 5px;
  border: 2px solid gray;
  border-radius: 16px;
  box-sizing: border-box;
}
.tarjeta:hover, .tarjeta--agotado:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

/*Extend*/
.tarjeta--agotado {
  background-color: rgba(194, 189, 189, 0.419);
}

.basicos-galery {
  width: 100%;
  padding: auto;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
.basicos-galery_img {
  width: 100%;
  border-radius: 30px;
}
.basicos-galery_item {
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
}
.basicos-galery_item:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

.basicos-galery_item > h4 {
  padding-top: 0px;
  margin: 0px;
}
.basicos-galery_item > p {
  padding-top: 2px;
  padding-bottom: 4px;
  margin: 0px;
}

/*Galeria Responsive de ropa de Oficina*/
.oficina-galery {
  max-width: 1400px;
  width: 100%;
  padding: auto;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
.oficina-galery_img {
  width: 100%;
}
.oficina-galery_item {
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
}
.oficina-galery_item:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

/*Productos en tendencia por temporada*/
.product-container {
  max-width: 1400px;
  width: 90%;
  padding: auto;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.product-container .tarjeta {
  padding: 5px;
  border: 2px solid black;
  border-radius: 20px;
  align-items: top;
  text-align: center;
}
.product-container .tarjeta__img {
  width: 100%;
  height: 70%;
  border-radius: 20px;
}

/*Descripcion de servicio de rentas*/
.renta-container {
  height: 70vh;
  padding: auto;
  padding-bottom: 50px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr, 1fr;
  text-align: center;
}
.renta-container__img {
  border: solid black 2px;
  background-image: url(../media/renta-2.png);
  background-size: cover;
  background-position: center;
}
.renta-container__description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: solid black 2px;
  height: 99%;
}

legend {
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 2px 2px rgb(223, 21, 149);
  padding: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

fieldset > button {
  margin-top: 10px;
  margin-bottom: 10px;
}

fieldset > div {
  margin: 10px;
}

label {
  padding: 5px;
}

input {
  color: rgb(248, 122, 176);
}

select {
  color: rgb(248, 122, 176);
}

option {
  color: rgb(248, 122, 176);
}

::placeholder {
  color: rgb(248, 122, 176);
}

textarea {
  color: rgb(248, 122, 176);
}

.form-login {
  width: 100%;
  height: 100vh;
  background: rgb(226, 152, 216);
  background: linear-gradient(90deg, rgb(226, 152, 216) 0%, rgb(71, 9, 121) 48%, rgb(0, 255, 255) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fieldset-login, .fieldset-contacto, .fieldset-renta_1, .fieldset-renta_3, .fieldset-renta_2 {
  background-color: rgba(36, 48, 60, 0.8039215686);
  width: 80%;
  margin: auto;
  padding: 10px;
  border: none;
  border-radius: 20px;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.fieldset-loginlabel {
  text-align: center;
}

.controls-login, .controls {
  width: 90%;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  display: block;
  background: #24303c;
}

.boton-login {
  width: 90%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(223, 21, 149);
  border-radius: 7px;
  display: block;
}

.login-user, .login-passw {
  text-align: center;
}

.form-renta {
  width: 100%;
  height: 230vh;
  background: rgb(226, 152, 216);
  background: linear-gradient(90deg, rgb(226, 152, 216) 0%, rgb(71, 9, 121) 48%, rgb(0, 255, 255) 100%);
}

.form-contacto {
  width: 100%;
  height: 100vh;
  background: rgb(226, 152, 216);
  background: linear-gradient(90deg, rgb(226, 152, 216) 0%, rgb(71, 9, 121) 48%, rgb(0, 255, 255) 100%);
  justify-content: center;
  align-items: center;
}

.fieldset-contacto > div {
  margin: 10px;
}

.boton-limpiar {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 7px;
  display: inline-block;
  background-color: lightgrey;
}

.boton-enviar {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 7px;
  display: inline-block;
  background-color: rgb(226, 152, 216);
}

/*Special*/
.contenedor-special {
  color: white;
  text-decoration: none;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass-special {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 30px;
  height: 230px;
  width: 430px;
  margin-top: 220px;
  position: absolute;
  background-color: rgba(93, 233, 255, 0.4);
  backdrop-filter: blur(1px);
  text-align: center;
  transition: 1.5 all;
  overflow: hidden;
}

.glass-special:hover {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 451px;
  width: 430px;
  margin-top: 0;
  background-color: rgba(32, 72, 78, 0.4);
  transition: 1.5s all;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.glass-special:hover.tallas {
  margin-top: 10px;
  transition: 1.5s all;
}

.cabecera-special {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 25px;
}

.contenedor-special_img {
  height: 450px;
  width: 430px;
  border-radius: 30px;
  display: flex;
  box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.75);
  background-color: aqua;
}

.tallas {
  margin-top: 70px;
}

.tallas-existencia {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.talla {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid white;
}

.talla:hover {
  background-color: rgba(32, 72, 78, 0.4);
}

.contenedor-precio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  margin-top: 10px;
}

.contenedor-precio button {
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid rgba(32, 72, 78, 0.4);
  width: 120px;
  height: 40px;
  cursor: pointer;
}

.contenedor-precio button:hover {
  background-color: rgba(32, 72, 78, 0.4);
}

@media (min-width: 100px) {
  footer {
    background-color: rgba(255, 192, 203, 0.707);
  }
}
@media (min-width: 520px) {
  footer {
    background-color: rgba(255, 192, 203, 0.707);
  }
}
@media (min-width: 728px) {
  footer {
    background-color: rgba(255, 192, 203, 0.566);
  }
}
@media (min-width: 1024px) {
  footer {
    background-color: rgba(255, 192, 203, 0.707);
  }
}

@media (min-width: 100px) {
  header {
    background-color: rgba(255, 192, 203, 0.707);
  }
}
@media (min-width: 520px) {
  header {
    background-color: rgba(255, 192, 203, 0.707);
  }
}
@media (min-width: 728px) {
  header {
    background-color: rgba(255, 192, 203, 0.707);
  }
}
@media (min-width: 1024px) {
  header {
    background-color: rgba(255, 192, 203, 0.707);
  }
}

@media (min-width: 728px) {
  .contenedor-ocasion_tarjeta {
    width: 70%;
    height: 70vh;
  }
}
@media (min-width: 1024px) {
  .contenedor-ocasion_tarjeta {
    width: 70%;
    height: 70vh;
  }
}

@media (min-width: 1024px) {
  .contenedor-tipos {
    height: 90vh;
  }
}

@media (min-width: 100px) {
  .oficina-galery {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 520px) {
  .oficina-galery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 728px) {
  .oficina-galery {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  .oficina-galery {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 100px) {
  .product-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 520px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 728px) {
  .product-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  .product-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 100px) {
  .renta-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
}
@media (min-width: 520px) {
  .renta-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
}
@media (min-width: 728px) {
  .renta-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .renta-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
}

@media (min-width: 100px) {
  .contenedor-basicos-tarjetas {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 520px) {
  .contenedor-basicos-tarjetas {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 728px) {
  .contenedor-basicos-tarjetas {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (min-width: 1024px) {
  .contenedor-basicos-tarjetas {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 100px) {
  .basicos-galery {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 520px) {
  .basicos-galery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 728px) {
  .basicos-galery {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  .basicos-galery {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 100px) {
  .fieldset-login {
    width: 80%;
  }
}
@media (min-width: 520px) {
  .fieldset-login {
    width: 60%;
  }
}
@media (min-width: 728px) {
  .fieldset-login {
    width: 40%;
  }
}
@media (min-width: 1024px) {
  .fieldset-login {
    width: 30%;
  }
}

@media (min-width: 100px) {
  .form-contacto {
    height: 120vh;
  }
}

@media (min-width: 100px) {
  .fieldset-contacto {
    width: 80%;
  }
}
@media (min-width: 520px) {
  .fieldset-contacto {
    width: 80%;
  }
}
@media (min-width: 728px) {
  .fieldset-contacto {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  .fieldset-contacto {
    width: 60%;
  }
}

@media (min-width: 100px) {
  .form-renta {
    height: 230vh;
  }
}
@media (min-width: 520px) {
  .form-renta {
    height: 220vh;
  }
}
@media (min-width: 728px) {
  .form-renta {
    height: 200vh;
  }
}
@media (min-width: 1024px) {
  .form-renta {
    height: 180vh;
  }
}

@media (min-width: 100px) {
  .fieldset-renta_1, .fieldset-renta_3, .fieldset-renta_2 {
    width: 80%;
  }
}
@media (min-width: 520px) {
  .fieldset-renta_1, .fieldset-renta_3, .fieldset-renta_2 {
    width: 80%;
  }
}
@media (min-width: 728px) {
  .fieldset-renta_1, .fieldset-renta_3, .fieldset-renta_2 {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  .fieldset-renta_1, .fieldset-renta_3, .fieldset-renta_2 {
    width: 60%;
  }
}

.boton {
  border: black 1px solid;
  border-radius: 20px;
  background-color: black;
  color: black;
  padding: 2px 2px;
}
.boton:hover {
  border: pink 2px solid;
  background-color: rgb(223, 21, 149);
  color: pink;
}

.tarjeta .boton {
  border: black 1px solid;
  border-radius: 20px;
  background-color: black;
  color: white;
  padding: 2px 2px;
}
.tarjeta .boton:hover {
  border: pink 2px solid;
  background-color: rgb(223, 21, 149);
  color: pink;
}

.renta-container .boton {
  border: black 1px solid;
  border-radius: 20px;
  background-color: black;
  color: white;
  padding: 2px 2px;
}
.renta-container .boton:hover {
  border: pink 2px solid;
  background-color: rgb(223, 21, 149);
  color: pink;
}

.basicos-galery .boton {
  border: black 1px solid;
  border-radius: 20px;
  background-color: white;
  padding: 2px 2px;
}
.basicos-galery .boton:hover {
  border: pink 2px solid;
  background-color: rgb(223, 21, 149);
  color: pink;
}

/*# sourceMappingURL=style.css.map */
