a{
    text-decoration: none;

    &:active{
        color:unset ;
    }

    &:visited{
        color:unset ;
    }
}

header{
    background-color: pink;
    height: 5%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr;
    grid-template-rows: 1fr;


    &-menu{
        display: flex;
    justify-content: center;
    align-items: center;
    }

    &-title{text-align: center;
        color: aliceblue;
        text-shadow:1px 1px 2px black;

    }

    &-user{
        display: flex ;
        justify-content: right;
        align-items: center;
    }

    &-cart{
        display: flex ;
        justify-content: center;
        align-items: center;
    }
}

footer{
    height: 5vh;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-tipos{
    background: gray;
    border: solid white 5px;
    height: 60vh;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    justify-items: center;
    align-items: center;

    &_box{
        margin: white solid 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow:1px 1px 2px black;
        color: rgb(186, 223, 21);
    }

    &_box1{
        border: white solid 5px;
        width: 100%;
        height: 100%;
    
    
        background-image: url(../media/basicosss.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &_box2{
        border: white solid 5px;
        width: 100%;
        height: 100%;
    
        background-image: url(../media/officcina.jpg);
        background-size: cover;
        background-position: center;
    }

    &_box3{
        border: white solid 5px;
    width: 100%;
    height: 100%;

    background-image: url(../media/tendency.jpg);
    background-size: cover;
    background-position: center;
    }

    &_box4{
        border: white solid 5px;
        width: 100%;
        height: 100%;
    
        background-image: url(../media/rental.jpeg);
        background-size: cover;
        background-position: center;
    }
}

.contenedor-ofertas{
    background: rgb(207, 168, 191);
    color: rgb(223, 21, 149);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr, 2fr;

    &_title{
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 5;
    }

    .tarjeta{
        padding: 5px;
        border: 2px solid black;
        border-radius: 20px;
        align-items: top;
        text-align: center;
    
        &__img{
            width: 100%;
            height: 50%;
            border-radius: 20px;
        }

        .boton {
            border: black 1px solid;
            border-radius: 20px;
          
            background-color: black;
            color: white;
          
            padding: 2px 2px;

            &:hover {
                border: pink 2px solid;
                background-color: rgb(223, 21, 149);;
                color: pink;
              }
          }

          &:hover {
            border: rgb(223, 21, 149) 2px solid;
            background-color: white;
            color: rgb(223, 21, 149);
          }
    }

}

.contenedor-ocasion{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;

    &_tarjeta{
        width: 80%;
        height: 100vh;
        color: white;
        text-shadow:1px 1px 2px rgb(223, 21, 149);
    
        margin: 20px auto;
        border: 2px solid rgb(223, 21, 149);
    
        display: flex;
        justify-content: center;
        align-items: center;

          
        &-1{
            background-image: url(../media/nights\ out.jpg);
            background-size: cover;
            background-position: center;
        }

        &-2{
            background-image: url(../media/weekend.jpg);
            background-size: cover;
            background-position: center;
        }

        &-3{
            background-image: url(../media/dating.jpg);
            background-size: cover;
            background-position: center;
        }

    }


}

/*Basicos*/
.product-container{
    width: 80%;
    padding: 10%;
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);

}

/*RENTAS*/
.renta{
    &-container{
        height: 80vh;
    
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;
        justify-content: center;
        align-items: center;

    &-img{
        border: solid black 2px;
        height: 100%;
        background-image: url(../media/rental.jpeg);
        background-size: cover;
        background-position: center;
    }

    &-description{
        border: solid black 2px;
        height: 100%;
    }
}
    


}