@import "../utils/variables";

//Contenedor de productos de venta basicos
.contenedor-basicos{
    height: 85vh;
    padding: auto;
    margin: auto;
    text-align: center;

    &-tarjetas{
        margin-top: 10px;
        background-color: white;
        border: #ddd;
        height: 90%;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);

    }
}

.tarjeta{
 background-color: white;
 margin: 5px;
 border: 2px solid gray;
 border-radius: 16px;
 box-sizing: border-box;

 &:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
}
}

/*Extend*/
.tarjeta--agotado{
    @extend .tarjeta;
    background-color: rgba(194, 189, 189, 0.419);
}


.basicos-galery {
    width: 100%;
    padding: auto;
    margin: auto;
    display: grid;


    grid-template-columns: repeat(1,1fr);
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    align-items: center;
    justify-content: center;

    &_img{
        width:100% ;
        border-radius: 30px;
        
    }

    &_item{
        align-items: center;
        text-align: center;
        justify-content: center;
        
    
        
        border-radius: 4px;
        transition: transform 0.3s ease-in-out ;

        &:hover{
            filter: opacity(0.9);
            transform: scale(1.04);
        }
    }


}

.basicos-galery_item h4{
    padding-top: 0;
}