@import "../utils/variables";
//Menu de opciones por categoria de ropa
.contenedor-tipos{
    max-width: 1400px;
    margin: auto;
    background: gray;
    border: solid white 5px;
    height: 60vh;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    justify-items: center;
    align-items: center;

    &_box{
        margin: white solid 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow:1px 1px 2px black;
        color: rgb(186, 223, 21);

        &:hover{
            filter: opacity(0.9);
            transform: scale(1.01);
        }
    }

    &_box1{
        border: white solid 5px;
        width: 100%;
        height: 100%;
    
    
        background-image: url(../media/tipos-basicos.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &_box2{
        border: white solid 5px;
        width: 100%;
        height: 100%;
    
        background-image: url(../media/tipos-oficina.png);
        background-size: cover;
        background-position: center;
    }

    &_box3{
        border: white solid 5px;
    width: 100%;
    height: 100%;

    background-image: url(../media/tipos-temporada.png);
    background-size: cover;
    background-position: center;
    }

    &_box4{
        border: white solid 5px;
        width: 100%;
        height: 100%;
    
        background-image: url(../media/tipos-renta.png);
        background-size: cover;
        background-position: center;
    }
}

//Ofertas
.contenedor-ofertas{
    width: 100%;
    max-width: 1400px;
    height: auto;
    margin: auto;

    background: rgb(207, 168, 191);
    color: $color-primario;

    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr, 2fr;
   

    &_title{
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 5;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .tarjeta{
        width: 23vw;
        margin: auto;
        padding: 1px;
        border: 2px solid black;
        border-radius: 20px;
        font-size: 1rem;
        text-align: center;
    
        &__img{
          width: 22vw;
            border-radius: 20px;
        }


        &__titulo{
            padding-top: 2px;
            padding-bottom: 5px;
            margin: 0px;
        }

        &>p{
            margin-top: 0px;
            margin-bottom: 10px;
        }

        .boton {
            border: black 1px solid;
            border-radius: 20px;
          
            background-color: black;
            color: white;
          
            padding: 2px 2px;

            &:hover {
                border: pink 2px solid;
                background-color: $color-primario;
                color: pink;
              }
          }

          &:hover {
            border: $color-primario 2px solid;
            background-color: rgb(207, 168, 191);
            color: $color-primario;
            filter: opacity(0.9);
            transform: scale(1.04);
          }
    }

}

//opciones de ropa por ocasion
.contenedor-ocasion{
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr, 2fr;
    text-align: center;

    &_title{
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 4;
        margin-top: 10px;
        margin-bottom: 10px;

        &>h2{
            margin: 0;
        }

        &>h3{
            margin: 0;
        }

    }

    &_tarjeta{
        width: 30vw;
        height: 50vh;
        color: white;
        text-shadow:1px 1px 2px rgb(223, 21, 149);
    
        margin: auto;
        border: 2px solid rgb(223, 21, 149);
    
        display: flex;
        justify-content: center;
        align-items: center;

          
        &-1{
            background-image: url(../media/ocasion-1.png);
            background-size: cover;
            background-position: center;
        }

        &-2{
            background-image: url(../media/ocasion-2.png);
            background-size: cover;
            background-position: center;
        }

        &-3{
            background-image: url(../media/ocasion-3.png);
            background-size: cover;
            background-position: center;
        }

        &:hover{
            filter: opacity(0.9);
            transform: scale(1.04);
        }

    }


}