/*Descripcion de servicio de rentas*/
.renta-container{
    max-width: 1400px;
    height: 50vh;
    padding: auto;
    padding-bottom: 20px;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr;
    text-align: center;
    

    &__img{
        border: solid black 2px;
        height: 100%;
        background-image: url(../media/renta2.jpg);
        background-size: cover;
        background-position: center;
    }

    &__description{
        display: flexbox;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: solid black 2px;
        height: 100%;
    }
}