@import "../utils/variables";

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.link{
    background: none;
    border: none;
    text-decoration: none;
    color: #777;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
}

.link:hover{
    color: black;
}


.dropdown{
    position: relative;
}

.dropdown-menu{
    position: absolute;
    left: -15px;
    top: calc(170% + .25rem);
    background-color: rgba(255, 192, 203, 0.852);
    margin: 2px;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;

    
    &>ul{
        margin: 0;
        padding-left: 1px;

        &>li{
            padding: 5px;
           font-size: medium;
        }
        
    }
}

.dropdown-menu.active{
    opacity: 1;
}

.dropdown > .link:focus + .dropdown-menu{
    opacity: 1;
    transform: translateY(0);
}

li:hover{
    color: $color-primario;
    transform: scale(1.05);
}


