@import "../utils/variables";

@mixin xs {
    @media (min-width: map-get($breakpoints, "xs")){
        @content;
    }      

}

@mixin sm {
    @media (min-width: map-get($breakpoints, "sm")){
        @content;
    }      

}

@mixin md {
    @media (min-width: map-get($breakpoints, "md")){
        @content;
    }      

}

@mixin lg {
    @media (min-width: map-get($breakpoints, "lg")){
        @content;
    }      

}

//Responsive para color del footer
footer {
    @include xs {
        background-color: rgba(255, 192, 203, 0.707);
    }

    @include sm {
        background-color: rgba(255, 192, 203, 0.707);
    }

    @include md {
        background-color: rgba(255, 192, 203, 0.566);
    }

    @include lg{
        background-color: rgba(255, 192, 203, 0.707);       
    }

}

//Responsive para color del header
header{
    @include xs {
        background-color: rgba(255, 192, 203, 0.707);
    }

    @include sm {
        background-color: rgba(255, 192, 203, 0.707);
    }

    @include md {
        background-color: rgba(255, 192, 203, 0.707);
    }

    @include lg{
        background-color: rgba(255, 192, 203, 0.707);       
    }
}

//Relacion aspecto de contenedor ocasion
.contenedor-ocasion_tarjeta{
    @include md {
        width: 70%;
        height: 70vh; 
    }

    @include lg{
        width: 70%;
        height: 70vh;      
    }
}

//Ajuste de relacion en menu de opciones por categoria
.contenedor-tipos{
    @include lg{
        height: 90vh;
    }
}

//Responsive para Galeria en la pagina oficina
.oficina-galery{
    @include xs {
        grid-template-columns: repeat(1, 1fr);
    }

    @include sm {
        grid-template-columns: repeat(2, 1fr);
    }

    @include md {
        grid-template-columns:repeat(3, 1fr);
    }

    @include lg{
        grid-template-columns: repeat(4, 1fr);      
    }

}

//Responsive para contenedor de productos
.product-container{
    @include xs {
        grid-template-columns: repeat(1, 1fr);
    }

    @include sm {
        grid-template-columns: repeat(2, 1fr);
    }

    @include md {
        grid-template-columns:repeat(3, 1fr);
    }

    @include lg{
        grid-template-columns: repeat(4, 1fr);      
    }
}

//Responsive para contenedor de renta de vestidos
.renta-container{
    @include xs {
        grid-template-columns:  repeat(2, 1fr);
        grid-template-rows: 1fr;
    }

    @include sm {
        grid-template-columns:  repeat(2, 1fr);
        grid-template-rows: 1fr;
    }

    @include md {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        text-align: center;
    }

    @include lg{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;    
    }
}

//Responsive para contenedor de basicos 
.contenedor-basicos-tarjetas{
    @include xs {
        grid-template-columns: repeat(3, 1fr);
    }

    @include sm {
        grid-template-columns: repeat(4, 1fr);
    }

    @include md {
        grid-template-columns:repeat(5, 1fr);
    }

    @include lg{
        grid-template-columns: repeat(6, 1fr);      
    }
}

.basicos-galery{
    @include xs {
        grid-template-columns: repeat(1, 1fr);
    }

    @include sm {
        grid-template-columns: repeat(2, 1fr);
    }

    @include md {
        grid-template-columns:repeat(3, 1fr);
    }

    @include lg{
        grid-template-columns: repeat(4, 1fr);      
    }
}

.fieldset-login{
    @include xs {
        width: 80%;
    }

    @include sm {
        width: 60%;
    }

    @include md {
        width: 40%;
    }

    @include lg{
        width: 30%;    
    }
}

//FORMULARIOS
.form-contacto{
    @include xs {
        height: 120vh;
    }
}
.fieldset-contacto{
    @include xs {
        width: 80%;
    }

    @include sm {
        width: 80%;
    }

    @include md {
        width: 60%;
    }

    @include lg{
        width: 60%;    
    }
}

.form-renta{
    @include xs {
        height:240vh;
    }

    @include sm {
        height:250vh;
    }

    @include md {
        height:260vh;
    }

    @include lg{
        height:270vh;
    }
}

.fieldset-renta_1{
    @include xs {
        width: 80%;
    }

    @include sm {
        width: 80%;
    }

    @include md {
        width: 60%;
    }

    @include lg{
        width: 60%;    
    }
}

.fieldset-renta_2{
    @extend .fieldset-renta_1;
}

.fieldset-renta_3{
    @extend .fieldset-renta_1;
}