//Reset de formato de estilo
*{
    text-decoration: none;
    list-style: none;
}

//Reset de links sin estilo
a{
    text-decoration: none;

}

a:active{
    color: unset;
}

a:visited{
    color:unset ;
}