//Importacion de variables
@import"../utils/variables";

//Font family
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

//Titulos centrados
h1{
    text-align: center;
}

h2{
    @extend h1
}

h3{
    @extend h1;
    color: lightpink
}

a>h1:hover{
    color: $color-primario;
}

a>h3:hover{
    color: $color-primario;
}